{% extends 'base.html.twig' %}
{% block title %}
    Modifier un Devis
{% endblock %}
{% block body %}
    <div id="wrapper">
        {{ include('modulesUsed/menu.html.twig') }}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Modifier un devis</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
                    {{ form_start(edit_form) }}
                    {% if edit_form.affaire is defined  %}{{ form_row(edit_form.affaire) }}{% endif %}
                    {{ form_row(edit_form.ref) }}
                    {{ form_row(edit_form.date) }}
                    {{ form_row(edit_form.services,{'data':devis.services}) }}
                    <ul class="devisProduits" data-prototype="{{ form_widget(edit_form.devisProduits.vars.prototype)|e('html_attr') }}"
                        style="list-style: none;">
                        {% for produit in edit_form.devisProduits %}
                            <li>
                                {{ form_widget(produit) }}
                            </li>
                        {% endfor %}
                    </ul>


                    <div class=" row text-center">
                        <a href="{{ path('devis_index') }}"  class="btn btn-primary">Retourner à la liste</a>
                        <input type="submit" value="Modifier"  class="btn btn-success"/>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('custom/devis_js.js') }}"></script>
{% endblock %}