{% extends 'base.html.twig' %}
{% block title %}
    {{ affaire.ref }}
{% endblock %}

{% block body %}
    <div id="wrapper">

        {{ include('modulesUsed/menu.html.twig') }}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">  {{ affaire.ref }}
                        <div class="btn-toolbar pull-right ">{{ form_start(delete_form) }}
                            <input type="submit" type="button" class="btn btn-danger" value="Supprimer" onclick="alert('affaire supprimé!');">
                            {{ form_end(delete_form) }}</div>
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Ref</th>
                            <td>{{ affaire.ref }}</td>
                        </tr>
                        <tr>
                            <th>Etat</th>
                            <td>{{ affaire.etat }}</td>
                        </tr>
                        <tr>
                            <th>Contact</th>
                            <td>{{ affaire.contact }}</a></td>
                        </tr>
                        <tr>
                          <th>Type d'affaire</th>
                          <td>
                              {% if affaire.devis %}Devis
                              {% elseif affaire.commande %}Commande
                              {% elseif affaire.facture %}Facture
                              {% endif %}
                          </td>
                        </tr>
                        <tr>
                            <th>action</th>
                            <td>{% if affaire.devis %}
                                    <a class="btn btn-primary" href="{{ path('devis_show',{'id':affaire.devis.id}) }}">Consulter Devis</a>
                                {% else %}
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="{{ path('devis_new',{'id':affaire.id}) }}">Ajouter un devis</a>
                                    </div>
                                {% endif %}
                                {% if affaire.commande %}
                                    <a class="btn btn-primary" href="{{ path('commande_show',{'id':affaire.commande.id}) }}">Consulter Commande</a>
                                {% else %}
                                    <div class="btn-group">
                                      <a class="btn btn-primary" href="{{ path('commande_new',{'id':affaire.id}) }}">Ajouter une commande</a>
                                    </div>
                                {% endif %}
                                {% if affaire.facture %}
                                    <a class="btn btn-primary" href="{{ path('facture_show',{'id':affaire.facture.id}) }}">Consulter Facture</a>
                                {% else %}
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="{{ path('facture_new',{'id':affaire.id}) }}">Ajouter une facture</a>
                                    </div>

                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row text-center">
                        <div class="btn-group">
                            <a type="button" class="btn btn-success" href="{{ path('affaire_index') }}">
                                <i class="fa fa-angle-double-left"></i>
                                Liste des affaire</a>
                            <a type="button" class="btn btn-info" href="{{ path('affaire_edit', { 'id': affaire.id }) }}">Modifier</a>

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
{% endblock %}